<h1>Edit House</h1>

<%= form_for @house do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :slogan %>
  <%= f.text_field :slogan %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.submit "Update" %>
<% end %>
<br>
<br>
<h2>  <%= link_to "Kill this House", @house, method: :delete %> </h2>
