<h2>Edit Character</h2>

<%= form_for [@house,@character] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.label :quote %>
  <%= f.text_area :quote, size: "20x5" %>

  <%= f.submit "Update" %>
<% end %>
<br>
<br>

<h2> <%= link_to "Kill this Character",[@house,@character], method: :delete %> </h2>
